div.card-list {
  width: 100%;
}
div.card-list div.card-box {
  width: 100%;
  height: 110px;
  padding: 12px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #dcdfe6;
}
div.card-list div.card-box div.icon-box {
  width: 45px;
  height: 45px;
  display: grid;
  margin: 0 20px;
  border-radius: 50%;
  background-color: rgba(243, 244, 246, 0.9);
}
div.card-list div.card-box div.icon-box svg {
  margin: auto;
}
@keyframes identifier {
  0% {
    opacity: 0;
    margin-top: 50%;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  div.card-list div.t-row {
    flex-direction: column;
  }
  div.card-list div.t-col {
    width: 100%;
    margin-bottom: 20px;
    max-width: unset!important;
  }
}
@media (max-width: 480px) {
  div.card-list div.t-row {
    flex-direction: column;
  }
  div.card-list div.t-col {
    width: 100%;
    margin-bottom: 20px;
    max-width: unset!important;
  }
}
@media (max-width: 320px) {
  div.card-list div.t-row {
    flex-direction: column;
  }
  div.card-list div.t-col {
    width: 100%;
    margin-bottom: 20px;
    max-width: unset!important;
  }
}
