body {
  --filter: invert(0%);
  --linkhov-color: #c5c8cb;
  --primary-color: #f7f9fe;
  --backard-color: #ffffff;
  --textard-color: #000000;
  --asideba-color: #363636;
  --codeblo-color: #f5f2f0;
  --tablelo-color: #f3f3f3;
  --tableho-color: #eeeeee;
  --mobside-color: #f2f6fc;
  --mobautd-color: #636363;
  --outline-color: #e3e8f7;
  --svgpath-color: #666666;
  --svgfill-color: #666666;
  --titleho-color: rgba(0, 0, 0, 0.7);
  --tablete-color: rgba(0, 0, 0, 0.54);
  --borderd-color: var(--el-border-color);
  --archtiv-color: rgba(255, 255, 255, 0.65);
  --moboxsh-color: rgba(158, 158, 158, 0.22);
  --boxshadow: 0 1px 3px 1px rgba(0, 0, 0, 0.05);
}
body:has(div.main-layout[data-theme="dark"]) {
  --filter: invert(100%);
  --borderd-color: #191919;
  --archtiv-color: #191919;
  --mobside-color: #191919;
  --primary-color: #191919;
  --backard-color: #212121;
  --linkhov-color: #212121;
  --codeblo-color: #212121;
  --tablelo-color: #3b3b3b;
  --tableho-color: #616161;
  --svgpath-color: #ffffff;
  --svgfill-color: #ffffff;
  --mobautd-color: #ffffff;
  --tablete-color: #ffffff;
  --textard-color: #ffffff;
  --asideba-color: #ffffff;
  --moboxsh-color: #9e9e9e;
  --titleho-color: rgba(255, 255, 255, 0.7);
  --outline-color: rgba(255, 255, 255, 0.65);
  --boxshadow: 0 1px 3px 1px rgba(255, 255, 255, 0.15);
}
body:has(div.main-layout[data-theme="dark"]) div.el-divider--horizontal {
  border-top: 1px solid #212121;
}
body:has(div.main-layout[data-theme="dark"]) div.code-pre-block {
  color: #ffffff;
}
body:has(div.main-layout[data-theme="dark"]) div.code-pre-block p,
body:has(div.main-layout[data-theme="dark"]) div.code-pre-block span {
  color: #ffffff;
}
body:has(div.main-layout[data-theme="dark"]) section#section p,
body:has(div.main-layout[data-theme="dark"]) section#section span {
  color: var(--textard-color);
}
body:has(div.main-layout[data-theme="dark"]) section#section li {
  color: var(--textard-color);
}
body {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: var(--background);
}
body:has(div#Reomecho div.main-layout[data-theme="dark"]) {
  background-image: unset;
  background-color: #191919;
}
div#Reomecho {
  transition: background-color var(--transition);
}
div#Reomecho a,
div#Reomecho p,
div#Reomecho span,
div#Reomecho svg,
div#Reomecho path,
div#Reomecho button,
div#Reomecho h1,
div#Reomecho h2,
div#Reomecho h3,
div#Reomecho h4,
div#Reomecho h5,
div#Reomecho h6 {
  transition: color var(--transition), fill var(--transition);
}
div.main-layout {
  height: auto;
  margin: 0 auto;
  min-height: 100%;
  position: relative;
  transition: var(--transition) ease;
  background-color: var(--backard-color);
  animation: 0.3s frame-load forwards;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.16) !important;
}
div.main-layout section.main-container {
  height: auto;
  width: inherit;
  position: relative;
}
div.main-layout section.main-container aside.el-aside {
  position: fixed;
  height: calc(100vh - 50px);
  background-color: var(--backard-color);
  transition: background-color var(--transition);
}
div.main-layout section.main-container header.layout-header {
  top: 0;
  z-index: 10;
  position: fixed;
  background-color: var(--backard-color);
  transition: background-color var(--transition);
}
div.main-layout section.main-container header.el-header {
  width: 100%;
  height: 50px;
  display: flex;
  box-shadow: var(--boxshadow);
}
div.main-layout section.main-container section.content-container {
  height: auto;
  margin-top: 50px;
}
div.main-layout section.main-container main.content-main {
  height: auto;
  overflow: unset;
}
div.main-layout section.main-container main.el-main,
div.main-layout section.main-container aside.el-aside,
div.main-layout section.main-container header.el-header {
  padding: 0;
}
div.main-layout section.main-container ::-webkit-scrollbar {
  display: none!important;
}
div.van-back-top {
  z-index: 2;
  background-color: var(--dominColor) !important;
}
div#notification_1 .el-icon {
  margin: 0.175em 0.1em;
  width: 0.75em !important;
  height: 0.75em !important;
}
div#effect {
  top: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
}
div.main-layout[data-resize="True"] {
  width: 100%!important;
}
div.main-layout[data-resize="True"] section.main-container section.content-container main.content-main div.frame.frame-aside {
  width: 320px!important;
}
div.main-layout[data-resize="True"] section.main-container section.content-container main.content-main div.frame.frame-main {
  width: calc(100% - 320px);
}
@keyframes markdown {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes overdue {
  0% {
    clip-path: circle(0 at 0 0);
    -webkit-clip-path: circle(0 at 0 0);
  }
  100% {
    clip-path: circle(100%);
    -webkit-clip-path: circle(100%);
  }
}
@media (max-width: 320px) {
  div.main-layout {
    width: 100%;
  }
  div.main-layout section.main-container {
    width: inherit;
  }
  div.main-layout section.main-container header.layout-header {
    width: inherit;
  }
  div.main-layout section.main-container header.layout-header span.title-span {
    margin: auto;
    display: block;
  }
  div.main-layout section.main-container header.layout-header span.right-span {
    display: none;
  }
  div.main-layout section.main-container section.content-container aside.el-aside {
    display: none;
  }
  div.main-layout section.main-container section.content-container main.content-main {
    width: 100%;
  }
  div.main-layout section.main-container section.content-container main.content-main div.frame-main {
    width: 100%;
    padding: 0 10px!important;
  }
}
@media (max-width: 480px) {
  div.main-layout {
    width: 100%;
  }
  div.main-layout section.main-container {
    width: inherit;
  }
  div.main-layout section.main-container header.layout-header {
    width: inherit;
  }
  div.main-layout section.main-container header.layout-header span.title-span {
    display: block;
    margin: auto;
  }
  div.main-layout section.main-container header.layout-header span.right-span {
    display: none;
  }
  div.main-layout section.main-container section.content-container aside.el-aside {
    display: none;
  }
  div.main-layout section.main-container section.content-container main.content-main {
    width: 100%;
  }
  div.main-layout section.main-container section.content-container main.content-main div.frame-main {
    width: 100%;
    padding: 0 10px!important;
  }
}
@media (max-width: 768px) {
  div.main-layout {
    width: 100%;
  }
  div.main-layout section.main-container {
    width: inherit;
  }
  div.main-layout section.main-container header.layout-header {
    width: inherit;
  }
  div.main-layout section.main-container header.layout-header span.title-span {
    display: block;
    margin: auto;
  }
  div.main-layout section.main-container header.layout-header span.right-span {
    display: none;
  }
  div.main-layout section.main-container section.content-container aside.el-aside {
    display: none;
  }
  div.main-layout section.main-container section.content-container main.content-main {
    width: 100%;
  }
  div.main-layout section.main-container section.content-container main.content-main div.frame-main {
    width: 100%;
    padding: 0 10px!important;
  }
}
@media (min-width: 768px) {
  div.main-layout {
    width: 750px;
  }
  div.main-layout section.main-container {
    width: inherit;
  }
  div.main-layout section.main-container header.layout-header {
    width: inherit;
  }
  div.main-layout section.main-container header.layout-header span.title-span {
    width: 200px;
  }
  div.main-layout section.main-container section.content-container aside.el-aside {
    width: 200px;
  }
  div.main-layout section.main-container section.content-container main.content-main {
    margin-left: 200px;
  }
}
@media (min-width: 992px) {
  div.main-layout {
    width: 970px;
  }
  div.main-layout section.main-container {
    width: inherit;
  }
  div.main-layout section.main-container header.layout-header {
    width: inherit;
  }
  div.main-layout section.main-container header.layout-header span.title-span {
    width: 220px;
  }
  div.main-layout section.main-container section.content-container aside.el-aside {
    width: 220px;
  }
  div.main-layout section.main-container section.content-container main.content-main {
    margin-left: 220px;
  }
}
@media (min-width: 1200px) {
  div.main-layout {
    width: 1170px;
  }
  div.main-layout section.main-container {
    width: inherit;
  }
  div.main-layout section.main-container header.layout-header {
    width: inherit;
  }
  div.main-layout section.main-container header.layout-header span.title-span {
    width: 260px;
  }
  div.main-layout section.main-container section.content-container aside.el-aside {
    width: 260px;
  }
  div.main-layout section.main-container section.content-container main.content-main {
    margin-left: 260px;
  }
}
@media (min-width: 1700px) {
  div.main-layout {
    width: 1450px;
  }
  div.main-layout section.main-container {
    width: inherit;
  }
  div.main-layout section.main-container header.layout-header {
    width: inherit;
  }
  div.main-layout section.main-container header.layout-header span.title-span {
    width: 260px;
  }
  div.main-layout section.main-container section.content-container aside.el-aside {
    width: 260px;
  }
  div.main-layout section.main-container section.content-container main.content-main {
    margin-left: 260px;
  }
}
@media (min-width: 2048px) {
  div.main-layout {
    width: 1620px;
  }
  div.main-layout section.main-container {
    width: inherit;
  }
  div.main-layout section.main-container header.layout-header {
    width: inherit;
  }
  div.main-layout section.main-container header.layout-header span.title-span {
    width: 300px;
  }
  div.main-layout section.main-container section.content-container aside.el-aside {
    width: 300px;
  }
  div.main-layout section.main-container section.content-container main.content-main {
    margin-left: 300px;
  }
}
@keyframes zezzz {
  0%,
  10% {
    background-position: -200px;
  }
  20% {
    background-position: top left;
  }
  100% {
    background-position: 200px;
  }
}
