div#markdown {
  width: 100%;
  height: auto;
  margin: 20px 0;
  overflow: hidden;
  min-height: calc(100% - 400px);
}
div#markdown div.markdown-body {
  width: 95%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
div#markdown div.markdown-body img {
  cursor: pointer;
  border-radius: 5px;
}
div#markdown div.markdown-body ::-webkit-scrollbar {
  display: none;
}
div#markdown div.markdown-body section#section h1:nth-child(1) {
  margin-top: 0!important;
}
div#markdown div.markdown-body section#section h2:nth-child(1) {
  margin-top: 0!important;
}
div#markdown div.markdown-body section#section h3:nth-child(1) {
  margin-top: 0!important;
}
div#markdown div.markdown-body section#section h4:nth-child(1) {
  margin-top: 0!important;
}
div#markdown div.markdown-body section#section h5:nth-child(1) {
  margin-top: 0!important;
}
div#markdown div.markdown-body section#section h6:nth-child(1) {
  margin-top: 0!important;
}
div#markdown div.markdown-body section p.paragraph {
  color: #666666;
}
div#markdown div.markdown-body section img {
  margin: 20px 0;
  max-width: 100%;
  object-fit: cover;
  max-height: 720px;
}
div#markdown div.markdown-body section strong {
  font-weight: 700;
  color: var(--dominColor);
}
div#markdown div.markdown-body section del {
  text-decoration: line-through var(--dominColor);
}
div#markdown div.markdown-body div.marked-notice {
  display: flex;
  align-items: center;
  color: var(--textard-color);
  box-shadow: var(--boxshadow);
  transition: var(--transition);
  background-color: var(--backard-color);
}
div#markdown div.markdown-body div.marked-notice div.mark-box {
  width: 100%;
  overflow-x: scroll;
}
div#markdown div.markdown-body div.marked-notice div.mark-box span.notice-text {
  font-size: 1rem;
  white-space: nowrap;
}
div#markdown div.markdown-body div.marked-notice svg {
  min-width: 16px;
  min-height: 16px;
  margin-right: 10px;
}
div#markdown div.markdown-body div.marked-notice {
  width: 100%;
  height: 65px;
  padding: 1.25rem;
  position: relative;
  border-radius: 5px;
  margin-top: 1.25rem;
  border: 2px dashed var(--outline-color);
}
div#markdown div.markdown-body div.marked-notice span {
  width: 100%;
  display: flex;
  align-items: center;
}
div#markdown div.markdown-body div.marked-notice span marquee {
  width: inherit;
}
div#markdown div.markdown-body div.marked-blocked {
  padding: 1.25rem;
  position: relative;
  align-items: center;
  border-radius: 5px;
  margin-top: 1.25rem;
  transition: var(--transition);
  border: 1px solid #909399;
  background-color: transparent;
}
div#markdown div.markdown-body div.marked-blocked span.block-text {
  font-size: 1rem;
}
div#markdown div.markdown-body div.marked-message {
  display: flex;
  padding: 1.25rem;
  position: relative;
  align-items: center;
  border-radius: 5px;
  margin-top: 1.25rem;
  transition: var(--transition);
  background-color: transparent;
  animation: overdue 1.5s ease-in-out;
}
div#markdown div.markdown-body div.marked-message i.el-icon {
  margin: auto 0;
  min-width: 16px;
  min-height: 16px;
  margin-right: 10px;
  width: 16px!important;
  height: 16px!important;
}
div#markdown div.markdown-body div.marked-message i.el-icon svg {
  width: 100%;
  height: 100%;
}
div#markdown div.markdown-body div.marked-message span.message-text {
  font-size: 1rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}
div#markdown div.markdown-body div.marked-message.message-default {
  color: #909399;
  border: 1px dashed #909399;
}
div#markdown div.markdown-body div.marked-message.message-success {
  color: #67C23A;
  border: 1px dashed #67C23A;
}
div#markdown div.markdown-body div.marked-message.message-warning {
  color: #E6A23C;
  border: 1px dashed #E6A23C;
}
div#markdown div.markdown-body div.marked-message.message-erroring {
  color: #F56C6C;
  border: 1px dashed #F56C6C;
}
div#markdown div.markdown-body h1.title-text {
  font-size: 2em;
  font-weight: 700;
  line-height: 1.35;
  color: var(--dominColor);
  font-family: inherit;
}
div#markdown div.markdown-body h1.title-text {
  display: flex;
  position: relative;
  align-items: center;
}
div#markdown div.markdown-body h1.title-text {
  font-size: 2em;
}
div#markdown div.markdown-body h1.title-text::before {
  content: '#';
}
div#markdown div.markdown-body h2.title-text {
  font-size: 1.7em;
}
div#markdown div.markdown-body h2.title-text::before {
  content: '##';
}
div#markdown div.markdown-body h3.title-text {
  font-size: 1.3em;
}
div#markdown div.markdown-body h3.title-text::before {
  content: '###';
}
div#markdown div.markdown-body h4.title-text {
  font-size: 1.4em;
}
div#markdown div.markdown-body h5.title-text {
  font-size: 1.1em;
}
div#markdown div.markdown-body h6.title-text {
  font-size: 0.8em;
}
div#markdown div.markdown-body h1.title-text,
div#markdown div.markdown-body h2.title-text,
div#markdown div.markdown-body h3.title-text,
div#markdown div.markdown-body h4.title-text,
div#markdown div.markdown-body h5.title-text,
div#markdown div.markdown-body h6.title-text {
  margin: 35px 0;
  display: flex;
  font-weight: 700;
  position: relative;
  color: var(--dominColor);
  align-items: center;
  font-family: inherit;
}
div#markdown div.markdown-body h1.title-text::before,
div#markdown div.markdown-body h2.title-text::before,
div#markdown div.markdown-body h3.title-text::before,
div#markdown div.markdown-body h4.title-text::before,
div#markdown div.markdown-body h5.title-text::before,
div#markdown div.markdown-body h6.title-text::before {
  font-weight: 700;
  margin-right: 20px;
  position: relative;
  color: var(--dominColor);
  transition: color var(--transition);
}
div#markdown div.markdown-body code:not([data-language]).code-span {
  padding: 2px 6px;
  border-radius: 2px;
  color: var(--dominColor);
  transition: var(--transition);
  background-color: var(--primary-color);
}
div#markdown div.markdown-body hr {
  margin: 15px 0;
  margin-bottom: 20px;
  transition: var(--transition);
  border: 2px dashed var(--outline-color);
}
div#markdown div.markdown-body table {
  width: 100%;
  overflow: hidden;
  margin-top: 25px;
  border-spacing: 0;
  border-radius: 5px;
  transition: var(--transition);
  background-color: var(--backard-color);
  border: 2px solid var(--outline-color);
}
div#markdown div.markdown-body table thead {
  line-height: 1.8;
  word-wrap: break-word;
  transition: var(--transition);
  background-color: var(--outline-color);
}
div#markdown div.markdown-body table thead tr th {
  height: 75px;
  text-align: center;
  padding-left: 24px;
  color: var(--tablete-color);
  transition: var(--transition);
  border-bottom: 2px solid var(--outline-color);
}
div#markdown div.markdown-body table tbody tr {
  position: relative;
  transition: var(--transition);
  transition: background-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: background-color 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
div#markdown div.markdown-body table tbody tr:hover {
  background-color: var(--tableho-color);
}
div#markdown div.markdown-body table tbody tr td {
  height: 70px;
  font-size: 14px;
  line-height: 24px;
  padding-left: 24px;
  color: var(--textard-color);
  transition: var(--transition);
}
div#markdown div.markdown-body table th {
  font-size: 13px;
  overflow: hidden;
  font-weight: 700;
  line-height: 32px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
div#markdown div.markdown-body table td,
div#markdown div.markdown-body th {
  text-align: center;
  position: relative;
  padding: 12px 28px;
  transition: var(--transition);
  border-bottom: 2px solid var(--outline-color);
}
div#markdown div.markdown-body table th {
  padding: 12px 28px;
  position: relative;
}
div#markdown div.markdown-body table tbody tr:last-child td,
div#markdown div.markdown-body table tbody tr:last-child th {
  transition: var(--transition);
  border-bottom: 0 solid var(--outline-color);
}
div#markdown div.markdown-body ul.ul-list li {
  display: flex;
  align-items: center;
}
div#markdown div.markdown-body ul.ul-list li {
  margin: 0 0 0px;
  position: relative;
  margin-bottom: 5px;
  word-break: break-all;
  white-space: pre-wrap;
}
div#markdown div.markdown-body ul.ul-list li::before {
  content: '';
  width: 10px;
  height: 10px;
  position: relative;
  border-radius: 50%;
  margin-right: 10px;
  display: inline-block;
  background-color: var(--dominColor);
}
div#markdown div.markdown-body ul.ul-list li:has(input[type="checkbox"])::before {
  content: none;
}
div#markdown div.markdown-body ol.ol-list {
  counter-reset: order;
}
div#markdown div.markdown-body ol.ol-list li {
  display: flex;
  align-items: center;
  counter-increment: order;
}
div#markdown div.markdown-body ol.ol-list li {
  margin: 0 0 0px;
  position: relative;
  margin-bottom: 5px;
  word-break: break-all;
  white-space: pre-wrap;
}
div#markdown div.markdown-body ol.ol-list li::before {
  font-weight: 700;
  position: relative;
  margin-right: 10px;
  color: var(--dominColor);
  display: inline-block;
  content: counter(order);
}
div#markdown div.markdown-body p.paragraph {
  margin: 1rem 0;
  line-height: 1.7;
  font-weight: 400;
  text-align: left;
  font-size: 1rem;
  letter-spacing: 0.6px;
}
div#markdown div.markdown-body a.link-text {
  padding: 0.25rem;
  transition: 0.5s;
  font-weight: 700;
  color: var(--dominColor);
  border-radius: 0.25rem;
  transition: var(--transition);
  background-color: transparent;
  border-bottom: 2px dotted #c5c8cb;
}
div#markdown div.markdown-body a.link-text:hover {
  color: #ffffff;
  background-color: var(--linkhov-color);
}
div#markdown div.markdown-body p.marked-title-center {
  margin: 25px 0;
  display: flex;
  justify-content: center;
}
div#markdown div.markdown-body p.marked-title-center span.title-center {
  color: #909399;
  padding: 0 12px;
  line-height: 26px;
  position: relative;
}
div#markdown div.markdown-body p.marked-title-center span.title-center::before {
  top: 50%;
  left: -35px;
  width: 20px;
  height: 1px;
  content: '';
  position: absolute;
  background: var(--dominColor);
}
div#markdown div.markdown-body p.marked-title-center span.title-center::after {
  top: 50%;
  width: 20px;
  height: 1px;
  content: '';
  right: -35px;
  position: absolute;
  background: var(--dominColor);
}
div#markdown div.markdown-body span.marked-color-line {
  width: 100%;
  height: 2px;
  margin: 25px 0;
  display: block;
  background-size: 80px;
  background-image: repeating-linear-gradient(-45deg, var(--dotted_color1) 0, var(--dotted_color1) 20%, transparent 0, transparent 25%, var(--dotted_color2) 0, var(--dotted_color2) 45%, transparent 0, transparent 50%);
}
div#markdown div.markdown-body span.marked-color-lamp {
  width: 100%;
  height: 3px;
  margin: 25px 0;
  display: block;
  overflow: hidden;
  position: relative;
  border-radius: 1.5px;
  animation: lamp-background linear 4s infinite;
}
div#markdown div.markdown-body span.marked-color-lamp::before {
  right: 50%;
  transform-origin: right;
}
div#markdown div.markdown-body span.marked-color-lamp::after {
  left: 50%;
  transform-origin: left;
}
div#markdown div.markdown-body span.marked-color-lamp::before,
div#markdown div.markdown-body span.marked-color-lamp::after {
  top: 0;
  z-index: 1;
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  animation: lamp-front linear 4s infinite;
}
div#markdown div.markdown-body div.code-pre-block {
  margin: 25px 0;
  padding-top: 15px;
  border-radius: 5px;
  position: relative;
  transition: var(--transition);
  background-color: var(--codeblo-color);
  border: 1px dashed var(--outline-color);
}
div#markdown div.markdown-body div.code-pre-block::before {
  z-index: 1;
  content: "";
  width: 12px;
  height: 12px;
  display: block;
  margin: 0 15px;
  border-radius: 50%;
  position: relative;
  background: #fc625d;
  box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
}
div#markdown div.markdown-body div.code-pre-block pre.code-text {
  padding: 15px;
  overflow: hidden;
  padding-bottom: 13px;
}
div#markdown div.markdown-body div.code-pre-block pre.code-text div.code-block {
  width: 100%;
  height: auto;
  overflow: hidden;
  white-space: pre-wrap;
}
body:has(div#Reomecho div.main-layout[data-theme="dark"]) code:not([data-language]).code-span {
  color: #ffffff;
}
body:has(div#Reomecho div.main-layout[data-theme="dark"]) h1.title-text,
body:has(div#Reomecho div.main-layout[data-theme="dark"]) h2.title-text,
body:has(div#Reomecho div.main-layout[data-theme="dark"]) h3.title-text,
body:has(div#Reomecho div.main-layout[data-theme="dark"]) h4.title-text,
body:has(div#Reomecho div.main-layout[data-theme="dark"]) h5.title-text,
body:has(div#Reomecho div.main-layout[data-theme="dark"]) h6.title-text {
  color: #ffffff;
}
body:has(div#Reomecho div.main-layout[data-theme="dark"]) h1.title-text::before,
body:has(div#Reomecho div.main-layout[data-theme="dark"]) h2.title-text::before,
body:has(div#Reomecho div.main-layout[data-theme="dark"]) h3.title-text::before,
body:has(div#Reomecho div.main-layout[data-theme="dark"]) h4.title-text::before,
body:has(div#Reomecho div.main-layout[data-theme="dark"]) h5.title-text::before,
body:has(div#Reomecho div.main-layout[data-theme="dark"]) h6.title-text::before {
  color: #ffffff;
}
@media (max-width: 768px) {
  div#markdown div.markdown-body {
    width: 95%;
  }
  div.marked-notice svg {
    width: 24px!important;
    height: 24px!important;
  }
  div.marked-message span.message-text {
    font-size: 0.8rem;
  }
}
@media (max-width: 480px) {
  div#markdown {
    padding-top: 60px;
  }
  div#markdown.markdown-post {
    padding-top: 0;
  }
  div#markdown.markdown-index {
    min-height: 100%;
  }
}
@keyframes lamp-background {
  0%,
  24.9% {
    background-color: #54b5db;
  }
  25%,
  49.9% {
    background-color: #da4733;
  }
  50%,
  74.9% {
    background-color: #3b78e7;
  }
  75%,
  100% {
    background-color: #fdba2c;
  }
}
@keyframes lamp-front {
  0% {
    transform: scaleX(0);
    background-color: #da4733;
  }
  24.9% {
    transform: scaleX(0.5);
    background-color: #da4733;
  }
  25% {
    transform: scaleX(0);
    background-color: #3b78e7;
  }
  49.9% {
    transform: scaleX(0.5);
    background-color: #3b78e7;
  }
  50% {
    transform: scaleX(0);
    background-color: #fdba2c;
  }
  74.9% {
    transform: scaleX(0.5);
    background-color: #fdba2c;
  }
  75% {
    transform: scaleX(0);
    background-color: #409eff;
  }
  100% {
    transform: scaleX(0.5);
    background-color: #409eff;
  }
}
